<div class="container color">
  <form class="was-validated cardA">
    <div class="h4 cardA">New user</div>



    <div class="form-group cardA">
      <label class="" for="custom-select">Role</label>
      <select ID="custom-select" class="custom-select" required>
        <option value="">Role</option>
        <option value="1">Developer</option>
        <option value="2">Tester</option>
        <option value="3">Project Manager</option>
      </select>
      <div class="invalid-feedback">Example invalid custom select feedback</div>
    </div>





    <div class="cardA">

      <label for="validationCustom02">Project name</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Project Name" value="" required>

    </div>



    <div class="cardA" >

      <label for="exampleFormControlInput2">Password</label>
      <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="" value="" required >

    </div>
  </form>




<br>
  <button (click)="goComponent('NewTasks')" type="button" class="btn btn-secondary cardA">Добавить</button>

</div>
