
<footer class="footer">
  <div class="col-md-8 col-sm-6 col-xs-12">
    <p class="copyright-text"> &copy; 2019 project
      <a href="#"></a>.
    </p>
  </div>
</footer>
<div class="row ">
  <button type="button" class="btn btn-dark">Статус проекта-></button>
  <button type="button" class="btn btn-secondary">Старт-></button>
  <button type="button" class="btn btn-danger">Опасность-></button>
  <button type="button" class="btn btn-danger">Разработан-></button>
  <button type="button" class="btn btn-danger">Тестируется-></button>
  <button type="button" class="btn btn-danger">Светлый-></button>
  <button type="button" class="btn btn-danger">Закрыт</button>
</div>
<div class="col-md-6">   <form class="form-inline">
  <input class="form-control " type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-secondary  " type="submit">Search;</button>
</form>
</div>


<div id="tasks"  class="col form-group cardA">
  <div class="container">
    <div class="row ">


      <div id="tasks2"  class="col form-group cardA">
        <label for="tasks">
          Developers in this project</label>
        <select class="custom-select" required >
          <option value="">Developer</option>
          <option value="1">Developer-Tom-id459</option>
          <option value="2">Developer-Alex-id9253</option>
          <option value="3">Developer-Ivan-id12</option>
        </select>
        <div class="progress card-title cardA">
          <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70% нагружен девелопер</div>
        </div>
        <div class="row">
          <button class="col btn btn-outline-secondary  my-2 my-sm-0" type="submit">Профиль девелопера</button>
        </div>
      </div>
  <label for="tasks">
    Tasks in this project</label>
  <select class="custom-select" required >
    <option value="">Tasks</option>
    <option value="1">Tasks-id459</option>
    <option value="2">Tasks-id9253</option>
    <option value="3">Tasks-id12</option>
  </select>
  <div class="progress card-title cardA">
    <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35% выполнен таски</div>
  </div>
  <div class="row">
    <button class="col btn btn-outline-secondary  my-2 my-sm-0" type="submit">Перейти к таску</button>
    <button class=" col btn btn-outline-secondary  my-2 my-sm-0" type="submit">Сменить девелопера</button>
  </div>
</div>

<table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Tasks</th>
      <th scope="col">Developers</th>
      <th scope="col">Progress</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="#">Task1</a></td>
      <td><a href="#">Tom</a></td>
      <td> <div class="progress card-title cardA">
        <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35% </div>
      </div></td>
    </tr>
    </tbody>
  </table>

</div>

</div>

<div class="custom-file">
  <input type="file" class="custom-file-input" id="" required>
  <label class="custom-file-label" for="">Choose file...</label>
</div>
