<div class="modal-header">
  <h4 class="modal-title">login window</h4>
</div>
<div class="container-fluid">
</div>
<div class="modal-body">
  <div class="color form-group">
    <div class="container-fluid">
      <form #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)">
        <div class="h5">User Name <input type='text' class="form-control" name='username' ngModel></div>
        <div class="h5">Password <input type="password" class="form-control" name="password" ngModel></div>
        <p>
          <button (click)="modalServ.close()" type="submit" class="btn btn-primary">Submit</button>
        </p>

      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="title.close('Close click')">Close</button>
</div>
