
.formA{


  margin: auto;

}


.colorcol3{

  background-color: rgba(255, 255, 255, 0);
}
.colorcol9{


  background-color: rgba(255, 255, 255, 0);
}

.fon{
  background-image: url("~src/app/resources/black-metal-grid-2.png");

min-height: 3000px;
  /* background-color: #20252b1f;
   color: #fbffff;
  background-image: url("~src/app/resources/black-metal-grid-2.png");

  background-image: url("~src/app/resources/black-metal-grid-2.png");

   background-color: #343a40;*/
}
.header-h1 {
 padding: 5%;
 position: relative;
 margin-bottom: .5rem;
}

.header-h1-center {
 text-align: center;
}
.header-h1-center h1 {
 padding-left: 1rem;
}
/*----*/
.card{
  color: #010101a8;
}
/*
списки
 */
.list-counter-square {
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list-counter-square>li {
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-left: 1.75rem;
  margin-bottom: .25rem;
  padding-left: 1rem;
  padding-right: .5rem;
  color: #fff;
  background: #7b1fa2;
  white-space: nowrap;
  border-radius: .25rem
}

.list-counter-square>li:last-child {
  margin-bottom: 0;
}
.cardA{
  margin-top: 2%;
  margin-bottom: 2%;

}
.bottonExit{
  margin-left: 91%;
  margin-right: 91%;


}
.list-counter-square>li::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: -2rem;
  top: -.25rem;
  bottom: -.25rem;
  width: 2.5rem;
  line-height: 2rem;
  border-radius: 1.25rem;
  border: .25rem solid #fff;
  text-align: center;
  color: #fff;
  background: #7b1fa2;
}





















