<div class="row">
  <app-sort-menu></app-sort-menu>
</div>
<div [ngSwitch]="service.getIdUser()" class="row cardA">
  <div *ngIf="service.getIdUser()==2" [ngSwitch]="service.flagUserList" class="row cardA">
    <ng-container *ngSwitchCase="true">
      <div class="container-fluid">
        <div class="row">
          <app-card [Data]="allUsers" [list]="['Projects','','Status RFT','','']"></app-card>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="false">
      <div class="container-fluid">
        <div class="row">
          <app-card [Data]="allProject" [list]="['Projects','','Status RFT','','']"></app-card>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngSwitchCase="1">
    <div class="container-fluid">
      <div class="row">
        <app-card [Data]="allProject" [list]="['Projects','','Status RFT','','']"></app-card>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="3">3</ng-container>
  <ng-container *ngSwitchCase="4">4</ng-container>
</div>
<div class="row">
  <app-pagination *ngIf="service.getIdUser()"></app-pagination>
</div>

<div class="container-fluid">
  <div class="row">
    <app-card [Data]="allTask" [list]="['Projects','','Status RFT','','']"></app-card>
  </div>
</div>


<!--
<div [ngSwitch]="service.flagUserList"  class="row cardA">
  <button *ngSwitchCase="true" class="btn botonCardColor" (click)=modalServ._openModal(templeyt,true)>Settings</button>
  <button *ngSwitchCase="false" class="btn botonCardColor" (click)="goComponent('Home/ProjectView')">Work</button>
</div>
<div class="row"> <app-table [Data]="allProject" [list]="['Projects','','Status RFT','','']"></app-table>
</div>
<app-table [Data]="allUsers" [list]="['Projects','','Status RFT','','']"></app-table>
<app-table [Data]="allTask" [list]="['ProjectsT','','Status RFTT','','']"></app-table>
<div >
<table class="table table-hover textColor">
  <thead class="thead-light">
  <tr>
    <th  scope="col h4">{{table1}}</th>
    <th  scope="col h4">{{table2}}</th>
    <th  scope="col h4">{{table3}}</th>
    <th scope="col h4">{{table4}}</th>
  </tr>
  </thead>
  <tbody>
 <tr *ngFor="let  data of service.dataBase   let i= index    "class="cardA">
    <th scope="row h5">{{data.title[i]}} {{i}}</th>
    <td>
      <div [ngSwitch]="service.flagUserList"  class="row cardA">
        <button *ngSwitchCase="true" class="btn botonCardColor" (click)=modalServ._openModal(templeyt,true)>Settings</button>
        <button *ngSwitchCase="false" class="btn botonCardColor" (click)="goComponent('Home/ProjectView')">Work</button>
      </div>
    </td>
   <td>
       <p class="h4">Open</p>
   </td>
    <td *ngIf="1==service.getIdUser()|| service.flagUserList" >
          <div  class="row cardA">
            <button (click)="modalServ.openXl(templeyt)"  class="btn btn-danger" >Delete</button>
          </div>
    </td>
   <td *ngIf="service.getIdUser()==(3||4)">
     <p class="h4">Comments</p>
   </td>
  </tr>
  </tbody>
</table>
</div>
<ng-template #templeyt >
 <app-new-user></app-new-user>
</ng-template>
-->
