.textColor {
  /*
  color: #e9ecef;
   */
}

.btnPadding {


  margin-left: 49%;
}

.progress-bar {
  background-color: #4e555b;
}

.coloCHek {
  /*
   color: #e9ecef;
    */
  font-family: "ARIAL BLACK";
}

.progress-barTime {
  background-color: #006bff;
}

.progress {
  background-color: #11110b2e;
  color: #101010;

}

.fon {
  margin-bottom: 1%;
  /* color: #fbffff;
   /*
    background-image: url("~src/app/resources/black-metal-grid-2.png");
     */
  background-color: rgba(1, 1, 1, 0);
}

.header-h1 {
  padding: 5%;
  position: relative;
  margin-bottom: .5rem;
}

.buttonColorHeader {

  background-color: #7448f8;

}

.header-h1-center {
  text-align: center;
}

.header-h1-center h1 {
  padding-left: 1rem;
}

/*----*/
.botonCardColor {

  color: #ffffff;
  background-color: #929495;
}

.card {
  background-color: #7e765c5e;
  color: #ffffff;
}

/*
списки
 */
.list-counter-square {
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list-counter-square > li {
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-left: 1.75rem;
  margin-bottom: .25rem;
  padding-left: 1rem;
  padding-right: .5rem;
  color: #fff;
  background: #7b1fa2;
  white-space: nowrap;
  border-radius: .25rem
}

.list-counter-square > li:last-child {
  margin-bottom: 0;
}

.cardA {
  margin-top: 2%;
  margin-bottom: 2%;

}

.bottonExit {
  margin-left: 91%;
  margin-right: 91%;


}

.list-counter-square > li::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: -2rem;
  top: -.25rem;
  bottom: -.25rem;
  width: 2.5rem;
  line-height: 2rem;
  border-radius: 1.25rem;
  border: .25rem solid #fff;
  text-align: center;
  color: #fff;
  background: #7b1fa2;
}
