<!--
*ngFor="let  data of Service.dataBase;let i= index"
-->

<div class="btn-group ">
  <div class="container-fluid">
    <div class="row">
   <div class="row">
    <div class="col">
     <button type="button " class="btn btn-dark btnPadding">&dArr;</button>
    </div>
     <div class="col">
     <button type="button" class="btn btn-dark">&uArr;</button>
     </div>
   </div>
    <div class="col coloCHek">

      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
   по  дате
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">по времени
        </label>
      </div>
  </div>
    <div class="col"><div class="">
      <form class="form-inline">
      <input class="form-control " type="search" placeholder="Search" aria-label="Search">
    </form>
    </div>
    </div>
  </div>
  </div>
</div>
<div >
<table class="table table-hover textColor">
  <thead class="thead-light">
  <tr  *ngIf="1==service.getIdiser()||2==service.getIdiser()">
    <th  scope="col">Project</th>
    <th  scope="col"></th>
    <th  scope="col">Progress</th>
    <th scope="col"></th>
  </tr>
  <tr  *ngIf="3==service.getIdiser()||3==service.getIdiser()">
    <th  scope="col">Tasks</th>
    <th  scope="col"></th>
    <th  scope="col">Progress</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
 <tr *ngFor="let  data of service.dataBase   let i= index    "   class="cardA">
    <th scope="row">{{data.title[i]}} {{i}}</th>
    <td>
      <div class="row cardA">
        <button  class="btn botonCardColor" (click)="goComponent('Home/ProjectView')">Work</button>
    </div>
    </td>

   <td>  <div class="progress card-title">
      <div class="progress-bar"  [ngStyle]="{'width': data.progress + '%'}" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">work with project {{data.progress}}%</div>
    </div>
      <div class="progress card-title ">
        <div class="progress-barTime" role="progressbar" [ngStyle]="{'width': data.progress + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">время 	&#8986;</div>
      </div>
   </td>
    <td *ngIf="1==service.getIdiser()" >
          <div  class="row cardA">
            <button  class="btn btn-danger" >Delete</button>
          </div>
    </td>
  </tr>
  </tbody>
</table>
</div>
