<div class="container textColor">
  <form [formGroup]="taskForm" class="was-validated cardA">
    <div class="row col h4 cardA">New task</div>


    <div class="row form-group">
      <div class="col">
        <label class=" h5">Project name:</label>
        <input name="projectName" formControlName="projectName" type="text" class="form-control"
               placeholder="Project"
               [ngbTypeahead]="searchProject"
               [resultTemplate]="templateProject"
               [inputFormatter]="formatterProject">
      </div>
    </div>


    <div class="row form-group">
      <div class="col">
        <label class="h5">Task name</label>
        <input class="form-control" value="Task name" name="nameTask" formControlName="nameTask" rows="3">
      </div>
      <div class="row form-group">
        <div class="col">
          <label class=" h5">Reporter</label>
          <input name="Reporter" formControlName="Reporter" type="text" class="form-control"
                 placeholder="Project"
                 [ngbTypeahead]="searchUser"
                 [resultTemplate]="templateUser"
                 [inputFormatter]="formatterUser">
        </div>
      </div>
    </div>
    <div class="row ">
      <!--<div class="col">
        <label class="h5" >Developer:</label>
        <form class=" form-inline">
        <input class="form-control " type="search" placeholder="Search" aria-label="Developer">
        <div class="">  <button  type="button" class="btn btn-secondary cardA">Установить</button>
        </div>
      </form>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Example select</label>
          <select class="form-control" id="exampleFormControlSelect2">
            <option >1</option>
            <option>2</option>
            <option>3</option>
            <option scope=row>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      -->
    </div>
    <div class="row cardA">
      <div class="col">
        <div class="form-group cardA">
          <label class="h5">Status</label>
          <select name="Status" formControlName="Status" class="custom-select" required>
            <ng-container *ngFor="let  data of status;  let i= index">
              <option [ngStyle]="{'value':i}" value="1">{{data?.name}}</option>
            </ng-container>
          </select>
          <div class="invalid-feedback h5">Example invalid custom select feedback</div>
        </div>
      </div>
      <div class="col">
        <div class="form-group cardA">
          <label class="h5">Priority</label>
          <select name="priority" formControlName="priority" class="custom-select" required>
            <ng-container *ngFor="let  data of prioriti;  let i= index">
              <option [ngStyle]="{'value':i}" value="1">{{data?.name_priority}}</option>
            </ng-container>
          </select>
          <div class="invalid-feedback h5">Example invalid custom select feedback</div>
        </div>
      </div>
      <div class="col">
        <label for="example-number-input" class="col-xs-2 col-form-label h5">Estimated lead time</label>
        <div class="col-xs-10">
          <input name="estimation" formControlName="estimation" class="form-control" type="number" value="3"
                 id="example-number-input">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label class="h5 ">Due Data</label>
        <div class="input-group">
          <input name="dueDate" formControlName="dueDate" class="form-control"
                 placeholder="yyyy-mm-dd"
                 [displayMonths]="2"
                 [startDate]="today"
                 [minDate]="{year: today.getFullYear(), month: today.getMonth()+1, day: today.getDate()+1}"
                 ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-dark text-white " (click)="d.toggle()" type="button">Choose</button>
          </div>
        </div>
        <div class="alert alert-danger"
             *ngIf="taskForm.controls['dueDate'].invalid && taskForm.controls['dueDate'].touched">
          <div *ngIf="taskForm.controls['dueDate'].errors['required']">
            Empty dueDate
          </div>
        </div>
      </div>
      <div class="col form-group">
        <label class="h5"> Created date</label>
        <div class="">
          {{today.getDate()}}/{{today.getMonth()}}/{{today.getFullYear()}}
        </div>
      </div>
      <div class="col form-group">
        <label class="h5"> Updated date </label>
        <div class="">
          {{today.getDate()}}/{{today.getMonth()}}/{{today.getFullYear()}}
        </div>
      </div>
    </div>


    <div class="form-group">
      <label class="h5" >Description</label>
      <textarea name="description" formControlName="description" class="form-control"
                rows="3"></textarea>
    </div>


  </form>
  <div class="row"></div>
  <button type="submit" class=" btn btn-dark text-white" (click)="createNewTask()">
    Create
  </button>
</div>


<ng-template #templateUser let-r="result" let-t="term">
  {{r.login}}
</ng-template>

<ng-template #templateProject let-r="result" let-t="term">
  {{r.name}}
</ng-template>
<!--
<button (click)="service.goComponent('Home/ProjectView')" type="button" class=" btn btn-secondary cardA ">Add</button>
<ng-template  #content let-modal   >
  <app-add-executer [title]="modal"></app-add-executer>
</ng-template>

-->

