<div class="container textColor">
<form class="was-validated cardA">
<div class="h4 cardA">New project</div>
<div>

  <label for="validationCustom02">Project name</label>
  <input type="text" class="form-control" id="validationCustom02" placeholder="Project Name" value="" required>

</div>

  <div >

    <label for="exampleFormControlInput1">Сustomer email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value="" required>

  </div>
</form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Комментарии к проекту</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Клиент любит помидоры</textarea>
  </div>

  <div class="custom-file">
    <input type="file" class="custom-file-input" id="" required>
    <label class="custom-file-label" for="">Choose file...</label>
  </div>

<div class="container cardA row">
    <div class="col">
      <div class="h-50">Start date
        <input type="date" class="form-control" id="date" name="date" placeholder="Дата" required>
      </div>
    </div>

  <div class="col">
    <div>
      <div class="h-50">End date
        <input type="date" class="form-control" id="date2" name="date" placeholder="Дата" required>
      </div>
    </div>
</div>
</div>

  <div class="col-md-4 cardA ">
    <button (click)="service.goComponent('Home/ProjectView')" type="button" class="btn btn-secondary cardA">Добавить</button>
    </div>
</div>
