
<form class="was-validated cardA">
  <div class="container ">
<div class=" textColor">
  <div class="modal-header">
    <h4 class="modal-title pull-left h4">Task-N123</h4> <button type="button" class="close pull-right" aria-label="Close" (click)="modalServ.modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="color form-group">
<div class=" row">
  <div class="col">
  <div class=" colform-group cardA">
        <label for="custom-select2" class="h5">Executor</label>
        <select id="custom-select2" class="custom-select" required>
          <option value="3">Ivan-id459</option>
          <option value="">Developer</option>
          <option value="1">Tom-id459</option>
          <option value="2">Alex-id9253</option>
          <option value="3">Ivan-id12</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
    <div>
</div>
</div>
</div>
    <div>
        <label for="exampleFormControlTextarea1" class="cardA">Сomments</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div class="row ">
      <div class="col">
        <label for="Priority" class="h5">Priority</label>
        <div id="Priority" class="form-group ">
          <select class="custom-select" required>
            <option value="3">__________</option>
            <option value="">Blocker</option>
            <option value="1">Critical</option>
            <option value="2">Major</option>
            <option value="3">Trivial</option>
          </select>
          <div class="invalid-feedback">Example invalid custom select feedback</div>
        </div>
      </div>

      <div class="col">
        <label class="h5  cardA" >Status:</label>
        <select  class="custom-select" required>
          <option value="1">__________</option>
          <option value="2">Closed</option>
          <option value="3">In developing</option>
          <option value="4">is open</option>
          <option value="4">In testing</option>
        </select></div>

      <div class="col">
        <label for="form12" class="h5 cardA"  >lead time</label>
        <div  class="form-group ">
            <input id="form12" class="form-control" type="number" value="3" >
          <div class="invalid-feedback">Example invalid custom select feedback</div>
        </div>
      </div>
    </div>
</div>



  <div class="custom-file">
    <input type="file" class="custom-file-input" id="" required>
    <label class="custom-file-label" for="">Choose file...</label>
  </div>

  <div class="row">
    <div class="col">
        <div class="h-50">Star date
          <input type="date" class="form-control" name="date" placeholder="Дата" required>
        </div>
    </div>
    <div class="col">
        <div class="h-50">Update date
          <input type="date" class="form-control"  name="date" placeholder="Дата" required>
        </div>
    </div>
    <div class="col">
        <div class="h-50">End date
          <input type="date" class="form-control"  name="date" placeholder="Дата редактирования" required>
        </div>
    </div>
  </div><br>
      <div class="cardA">
        <button  (click)="service.goComponent('Home/ProjectView')" type="button" class="btn btn-secondary ">Save</button>
      </div>
</div>
  </div>
</div>
</form>
