<div  class="container-fluid card-deck">
  <div class="row">
    <div class="col">
      <div type="button" class=" cardA card colorCard ">

        <a (click)="goComponent('NewProgect')" class="btn ">
          <div class="card-body">
            <h4 class="card-title">&rArr;Новые задачи</h4>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div type="button" class=" cardA card colorCard ">

        <a (click)="goComponent('NewProgect')" class="btn ">
          <div class="card-body">
            <h4 class="card-title">&rArr;Новые задачи</h4>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div type="button" class=" cardA card colorCard ">

        <a (click)="goComponent('NewProgect')" class="btn ">
          <div class="card-body">
            <h4 class="card-title">&rArr;Новые задачи</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

