.cardA{
  margin-top: 4%;
  margin-bottom: 4%;

}
.progress-bar{




  background-color: #11110b;
}

.btnMyColor{
/*
 color: #e9ecef;
  */
background-color: rgba(27, 30, 33, 0);
}
.progress{
background-color: #11110b2e;



}
.btnMyColor{
  color: #1d2124;
}
.textColor{

color: #101010;

}

.table{

}
a {
color: #101010;
text-decoration: none;
background-color: transparent;
}
