<div class="container textColor">
<form class="was-validated cardA">
<div class="h4 cardA">New project</div>
<div>

  <label class="h5" for="validationCustom02">Project name</label>
  <input type="text" class="form-control" id="validationCustom02" placeholder="Project Name" value="" required>

</div>
  <div id="Priority" class="form-group cardA" >
    <label class="h5" for="Priority">Status RFT</label>
    <select class="custom-select" >
      <option value="0">Open</option>
      <option value="4">Closed</option>
    </select>
    <div class="invalid-feedback">Example invalid custom select feedback</div>
  </div>

</form>
  <div class="form-group">
    <label class="h5" for="exampleFormControlTextarea1">Комментарии к проекту</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>


  <input class="btn-dark" type="file"  onchange="showFile(this)">



<div class="container cardA row">
    <div class="col">
      <div class="h-50">Start date
        <input type="date" class="form-control" id="date" name="date" placeholder="Дата" required>
      </div>
    </div>

  <div class="col">
    <div>
      <div class="h-50">End date
        <input type="date" class="form-control" id="date2" name="date" placeholder="Дата" required>
      </div>
    </div>
</div>
</div>

  <div class="col-md-4 cardA ">
    <button (click)="service.goComponent('Home/ProjectView')" type="button" class="btn btn-secondary cardA">Добавить</button>
    </div>
</div>

