.cardA{
  margin-top: 4%;
  margin-bottom: 4%;

}
.progress-bar{




  background-color: #11110b;
}
.progress{
  background-color: #11110b2e;



}

.textColor{
  color: #e9ecef;
}

.table{

}
a {
  color:#e9ecef;
  text-decoration: none;
  background-color: transparent;
}
